.button {
    -fx-font-weight: bold;
}



.genome-list-view{
    -fx-background-color: white;
    -fx-text-fill: black;   
}

/*.list-cell:selected > .track{
    -fx-background-color: orange;
}

.list-cell:filled:selected:focused > .track{
    -fx-background-color: yellow;
    -fx-text-fill: black;
    
}

.list-cell:filled:selected > .track{
    -fx-background-color: pink;
    -fx-text-fill: black;
    
}*/

.track{
    -fx-background-color: white;
    -fx-text-fill: black;
}


/*.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.01em 0 0.01em;  
} */

.split-pane.genome-split-pane > .split-pane-divider {  
    -fx-padding: 0 0.05em 0 0.05em;  
} 

.scroll-pane.alignment-scroll-pane > .scroll-bar {  
    -fx-opacity: 0;  
}

.current-coord{
    -fx-display-caret: false;
    -fx-background-color: lightgray;
}